body {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  background-color: #fafafa;
  height: 4000px;
}
#headerTopMenu {
  height: 60px;
  background-color: #ffffff;
  width: 100%;
  margin: 0%;
  border-bottom: 1px solid #faf9fa;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  align-items: center;
}
#instagramText {
  margin-left: 25.7%;
  margin-top: 10px;
  padding-right: 230px;
}

#instagramTextIcon {
  height: 36px;
  width: 103px;
  position: sticky;
}
#space {
  margin: 100px;
}
#serachBoxDiv {
  /* margin-left: 10%; */
}
#searchBox {
  /* margin-left: 10%; */
  width: 268px;
  height: 36px;
  border-radius: 8px;
  border: none;
  background-color: #efefef;
  font-size: 16px;
  padding: 0%;
}
#search {
  position: absolute;
  margin-top: 11px;
  margin-left: 13px;
}
#searchImg {
  height: 15px;
  width: 15px;
}
#homeIcon {
  margin-left: 4%;
}
#homeIconImg {
  width: 22px;
  height: 22px;
  padding: 0%;
}
#messagesIcon {
  margin-left: 1%;
}
#messagesIconImg {
  width: 24px;
  height: 24px;
}
#newPostIcon {
  margin-left: 1%;
}
#newPostIconImg {
  width: 24px;
  height: 24px;
}
#discoverIcon {
  margin-left: 1%;
}
#discoverIconImg {
  width: 24px;
  height: 24px;
}
#heartIcon {
  margin-left: 1%;
}
#heartIconImg {
  width: 24px;
  height: 24px;
}
#profile {
  margin-left: 1%;
}
#profilePicture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#container {
  width: 470px;
  height: 119px;
}
