body {
  padding: 0%;
  margin: 0%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  background-color: #fafafa;
  height: 4000px;
}
#generalWrapper {
  margin: 0px auto;
  width: 915px;
  height: auto;
}
#headerTopMenu {
  height: 60px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  z-index: 3;
  margin: 0px auto;
  left: 0%;
  border-bottom: 1px solid #dbdbdb;
}
#instagramText {
  position: relative;
}

#instagramTextIcon {
  height: 36px;
  width: 103px;
  position: absolute;
  top: 16px;
  left: -470px;
}

#serachBoxDiv {
  /* margin-left: 10%; */
}

#searchBox {
  border-radius: 8px;
  width: 255px;
  height: 36px;
  border: none;
  background-color: #efefef;
  margin-top: 12px;
  position: absolute;
}
#inputBox {
  background-color: #efefef;
  border: none;
  border-radius: 8px;
  width: 255px;
  height: 36px;
  font-size: 18px;
}
#searchImg {
  height: 16px;
  width: 16px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
#icons {
  position: absolute;
  top: 16px;
  left: 934px;
}
#homeIcon {
  position: relative;
}
#homeIconImg {
  width: 22px;
  height: 22px;
  padding: 0%;
  position: absolute;
  top: 16px;
  left: 217px;
}
#messagesIcon {
  position: relative;
}
#messagesIconImg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 264px;
  top: 16px;
}
#newPostIcon {
  position: relative;
}
#newPostIconImg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 311px;
}
#discoverIcon {
  position: relative;
}
#discoverIconImg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 358px;
}
#heartIcon {
  position: relative;
}
#heartIconImg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 405px;
}
#profile {
  position: relative;
}
#profilePicture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 452px;
}
#generalContainer {
  display: flex;
  width: 875px;
  margin: 0px auto;
}
#profileCheck {
  width: 319px;
  margin-left: 30px;
  display: flex;
  font-size: smaller;
}
#profileCheckPhoto {
  height: 56px;
  width: 56px;
  top: 110px;
  border-radius: 50%;
  position: absolute;
}
.kaanNick {
  top: 110px;
  position: absolute;
  margin-left: 80px;
  font-weight: 600;
}
.kaanNick a {
  text-decoration: none;
  color: #262626;
}
.kaanId {
  top: 130px;
  margin-left: 80px;
  position: absolute;
  color: #8e8e8e;
}
#container {
  width: 470px;
  height: 119px;
  border: 1px #dbdbdb solid;
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: 25px;
  border-radius: 8px;
  background-color: #ffffff;
}
#storiesList {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: -22px;
}
.anyoneStory {
  height: 84px;
  width: 60px;
  display: flex;
  flex-direction: column;
  padding-right: 14px;
}
.anyoneStory p {
  font-size: 12px;
  text-align: center;
  line-height: 5px;
  color: #262626;
}
.anyonePicture {
  border-radius: 50%;
  height: 56px;
  width: 56px;
  border: 2px red solid;
}
#postList {
  margin-top: 20px;
  width: 470px;
  height: auto;
  border: 1px #dbdbdb solid;
  background-color: #ffffff;
  border-radius: 8px;
}
.headerPost {
  height: 48px;
  line-height: 48px;
  position: relative;
  display: flex;
}
.headerPost p {
  line-height: 20px;
  color: #262626;
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
}
.postPicture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 6px;
  margin-left: 6px;
  border: 1px white solid;
  border: 2px red solid;
}
.postPhoto {
  height: 471px;
  width: 471px;
}
.postConnect {
}
.likeButton {
  height: 24px;
  width: 24px;
  margin-left: 13px;
  margin-top: 8px;
}
.mentionIcon {
  width: 28px;
  height: 28px;
  margin-left: 12px;
}
.shareIcon {
  height: 24px;
  width: 24px;
  margin-left: 12px;
}
.saveIcon {
  height: 24px;
  width: 24px;
  margin-left: 315px;
  margin-top: 8px;
  position: absolute;
}
#connectContainer {
  display: flex;
}
#contentWrapper {
  margin-bottom: 30px;
}
.sharerName {
  font-size: 14px;
  font-weight: 600;
  margin-left: 13px;
}
.sharerExplantion {
  font-size: 14px;
  font-weight: 350;
  color: #262626;
  margin-left: 10px;
  position: relative;
}
.commentInfo {
  color: #8e8e8e;
  font-size: 14px;
  margin-left: 13px;
  margin-top: 0px;
}
.timeInfo {
  font-size: 10px;
  color: #8e8e8e;
  margin-left: 13px;
}
.smileIcon {
  width: 36px;
  height: 36px;
  margin-left: 5px;
}
.commentText {
  position: absolute;
  margin-top: -30px;
  margin-left: 50px;
  font-size: 14px;
  color: #8e8e8e;
}
.shareButton {
  color: #c1e0fd;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  margin-top: -30px;
  margin-left: 404px;
}
